<div class="userinfo">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
  <table class="user">
    <today>
      <tr></tr>
      <tr>
        <th>name</th><th class="name"><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th><th class="introduction"><%= @user.introduction %></xth>
      </tr>
    </today>
  </table>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<%= form_with model: @booknew, local: true do |f| %>
<h2>New book</h2>
  <div class="field">
   <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
   <div class="field"></div>
    <label for="book_body">Opinion</label>
     <%= f.text_area :body %>
    <div class="actions">
     <%= f.submit 'Create Book' %>
  </div>
<% end %>

<div class="table">
  <h2>Books</h2>
  <table>
    <thead>
    <tr>
      <th colspan=""></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    </thead>
    <today>
      <tr>
        <% @books.each do |book| %>
        <td>
         <%= link_to book_path(book.id) do %>
          <%= attachment_image_tag book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
         <% end %>
        </td>
        <td class="book-title"><%= link_to book.title,book_path(book) %></td>
        <td class="book-body"><%= book.body %></td>
        </tr>
      <% end %>
    </today>
  </table>
</div>