<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <header>
      <nav>
        <div class="container">
         <il><%= link_to 'Bookers', root_path %></il>
         <div>
          <% if user_signed_in? %>
          <ul>
           <li>
            <%= link_to 'Home', user_path(current_user.id) %>
           </li>
           <li>
            <%= link_to 'Users', users_path(current_user.id) %>
           </li>
           <li>
            <%= link_to 'Books', books_path(current_user.id) %>
           </li>
           <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
           </li>

           <% else %>
           <li>
            <%= link_to 'Home', root_path %>
           </li>
           <li>
            <%= link_to 'About', home_about_path %>
           </li>
           <li>
            <%= link_to "sign up", new_user_registration_path %>
           </li>
           <li>
            <%= link_to "login", new_user_session_path %>
           </li>
          </ul>
          <% end %>
         </div>
       </div>
      </nav>
    </header>
<main>
<div class="notifications">
  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
  <% end %>
</div>
    <%= yield %>
</main>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        CopyRight Infratop.inc
      </div>
    </div>
  </div>
</footer>
</body>
</html>
